<div class="container-fluid">
<div class="text-center">

<h1>Robert Gifford's Resume</h1>
<h4><a href="mailto:bobby077joe@gmail.com">bobby077joe@gmail.com</a></h4>
<hr>
<br >
<img src="../../../assets/default1.jpg" 
    alt="Me" 
    class="img-responsive img-circle"/>
<br >
<hr>
<h4>Welcome To My Site</h4>
<p>
    Hello I am Robert Gifford. I am currently in the San Jose
     area looking for entry level front end programming work. 
     I am constantly learning new frameworks and building new projects.
</p>

    These are my most recent projects:
    <br >
    <br >
    <h4><a href="http://vue2-sports-predictions.s3-website-us-west-1.amazonaws.com/">Football Prediction Web App</a></h4>    
    <h4><a href="https://www.youtube.com/watch?v=q4Lv6k3VWY0">Workout App (Video)</a></h4>
    <h4><a href="https://www.youtube.com/watch?v=Zfu3aM_6I1E">Quiz App (Video)</a></h4>        
    <h4><a href=" http://ng-rank-list-app.s3-website-us-west-1.amazonaws.com">List Rank App</a></h4>
</div>
</div>