<!--Here I create a component which shows my skills and qualifications-->

<!--My skills and education are displayed in seperate lists-->

<div class="container-fluid">
 
<h1 class="text-center">Qualifications and Skills</h1>
<br >
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">Vue 2/Vuetify<span class="badge">1 Yrs</span></li>
      <li class="list-group-item">Angular 2/4<span class="badge">1 Yr</span></li>
      <li class="list-group-item list-group-item-info">Java/Android Studio<span class="badge">1 Yr</span></li>      
      <li class="list-group-item">JavaScript<span class="badge">4 Yrs</span></li>
      <li class="list-group-item list-group-item-info">HTML<span class="badge">4 Yrs</span></li>      
      <li class="list-group-item">Linux/Unix<span class="badge">7 Yrs</span></li>
      <li class="list-group-item list-group-item-info">Js.Node<span class="badge">2 Yrs</span></li>
      <li class="list-group-item">CSS<span class="badge">4 Yrs</span></li>
      
            
    </ul>

    <h3>Education</h3>
    <br >

    <ul class="list-group">
      <li class="list-group-item list-group-item-info">Bellevue College - AA Web Developement/General Studies</li>
      <li class="list-group-item list-group-item-info">3.7 GPA With Distinction</li>
      <li class="list-group-item list-group-item-info">ACE Certification</li>
    </ul>
 
</div>
